
/* ==========================================================================
   Base styles:
   ========================================================================== */
/* Fix to include padding and border in the total width for each element */
* {
  box-sizing: border-box;
}

/* Fix for responsive images */


/* ----------------------------------------
Typography
------------------------------------------- */

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  letter-spacing: .02em;
  text-align: left;
  color: #44545E;
  font-size: 15px;
  background-color:  #e6ffff;
}

main{
    padding: 0 30px;
    background-color: gray;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
    color: gray;
}
/*a:visited {
    color: gray;
}*/

p {
  text-align: center;
  background-color: orange;
}

img {
  max-width: 100%;

}

h1, h3, h4 {
  font-family: 'Karla', sans-serif;
}

h1 {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: left;
  background-color: red;
  margin-left: 20px;
  padding-top: 100px;
}

h2 {
  font-size: 36px;
  text-align: center;
  font-weight: 700;
  padding: 10px;
  background-color: blue;
}

h3 {
  font-size: 24px;
  background-color: green;
  text-align: center;
  }

.headerh3 {
  text-align: left;
  margin-left: 20px;
}

.headerp {
  text-align: left;
  margin-left: 20px;
}

.intro-text {
  max-width: 600px;
  margin: auto;
}

h4 {
  font-size: 18px;
  text-align: center;
  background-color: yellow;
}

.footercopy {
  font-size: 13px;
}

nav {

    background-color:  white;
    position: fixed;*/
    z-index: 100;
    top: 0;
    width: 100%;
    height: 50px;
    padding-bottom: 1px;
    display: block;
    text-align: center;

}

nav a {
	font-weight: 600;
	letter-spacing: 0.75px;
	padding: 20px 60px;
	display: inline-block;
	border-bottom: none;
	text-transform: uppercase;
  color: #3C3B3F;

}

.social-links a {
	font-size: 20px;
	padding: 10px;
	display: inline-block;
	color: #44545E;
  text-align: left;
  margin-left: 20px;
}

.work {
  margin: 50px;
  background-color: black;
}

.favethings {
  margin: 20px 50px
  text-align: center;
  background-color: purple;
  line-height: 36px;
}

.things-copy {

  margin: 0;
}

.contact {
  margin: 50px;
}

/* ----------------------------------------
Lists
------------------------------------------- */


/* ----------------------------------------
Layout
------------------------------------------- */

header {
  background-image: url('../img/boraborawater.JPG');
  background-size: cover;
  background-position: center;
  height: 400px;
  padding: 0;
}

section{
  display: flex;
  flex-direction: column;
}


.row {
	display: flex;
	justify-content: space-between;
  flex-direction: row;
  margin: 10px;
  justify-content: center;

}

.col-3-3-3 {
  margin: 20px 40px 40px 40px;
  flex-basis: 33%;
  background-color: pink;

}
.col-2-3 {
  margin: 20px 60px 60px 60px;
	flex-basis: 64%;
  background-color: white;
}

/* ----------------------------------------
Buttons
------------------------------------------- */

/* ----------------------------------------
Footer
------------------------------------------- */
