/*
/* ==========================================================================
   Base styles:
   ========================================================================== */
/* Fix to include padding and border in the total width for each element */
* {
  box-sizing: border-box;
}

/* Fix for responsive images */


/* ----------------------------------------
Typography
------------------------------------------- */

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  letter-spacing: .02em;
  text-align: center;
  color: #44545E;
  font-size: 15px;
  background-color:  #e6ffff;
}

main{
    padding: 0 30px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
    color: gray;
}
/*a:visited {
    color: gray;
}*/


p {
  text-align: center;
}

img {
  max-width: 100%;

}

h1, h3, h4 {
  font-family: 'Karla', sans-serif;
}

h1 {
  font-size: 75px;
  text-transform: uppercase;
  font-weight: 400;
  /*text-align: left;*/
  /*margin-left: 20px;*/
  padding-top: 10px;
  color: #ffffff;

}

h2 {
  font-size: 50px;
  text-align: center;
  font-weight: 700;
  padding: 10px;
  font-weight: bold;
  /*font-family: 'Amatic SC', cursive;*/

}

h3 {
  font-size: 28px;
  text-align: center;
  }

.headerh3 {
  /*text-align: left;*/
  /*margin-left: 20px;*/

}

.headerp {
  /*text-align: left;*/
  /*margin-left: 20px;*/
}

.intro-text {
  max-width: 800px;
  margin: auto;
  padding-bottom: 50px;
}

h4 {
  font-size: 18px;
  text-align: center;
  /*font-style: italic;*/
  /*font-family: 'Amatic SC', cursive;*/
}


nav {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;

    /*height: 50px;*/
    padding-bottom: 1px;
    margin-bottom: 10px;
    /*display: flex;*/
    flex-basis; 100;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;

}

nav a {
	font-weight: 600;
	letter-spacing: 0.75px;
	padding: 20px 60px;
	display: inline-block;
  flex-wrap: wrap;
  border-bottom: none;
	text-transform: uppercase;
  color: #3C3B3F;

}


.work {
  margin: 50px;
  display: flex;

}

.fave-things {
  text-align: center;
  line-height: 36px;
  display: flex;
  flex-basis: 100%;
  opacity: 1;
  transform: rotate(-90deg);
  transform: scale(1, 1);
  font-size: 14px;
}


.contact {
  margin: 50px;
  display: flex;
  flex-basis: 100;
  text-align: center;
}


/* ----------------------------------------
Lists
------------------------------------------- */


/* ----------------------------------------
Layout
------------------------------------------- */

header {
  background-image: url('../img/boraborawater.JPG');
  background-size: cover;
  background-position: center;
  padding: 0;
  display: flex;
  height: 700px;
  justify-content: center;
  align-items: center;
}

section{
  display: flex;
  flex-direction: column;
}


.row {
	display: flex;
	justify-content: space-between;
  flex-direction: row;
  margin: 10px;
  justify-content: center;
  text-align: center;
}

.col-3-3-3 {
  margin: 20px 40px 40px 40px;
  flex-basis: 33%;


}
.col-2-3 {
  margin: 20px 60px 60px 60px;
	flex-basis: 50%;
}

.social-links a {
	font-size: 20px;
	padding: 10px;
	display: inline-block;
	color: #44545E;
  text-align: center;
  align-items: center;

}

/* ----------------------------------------
Projects
------------------------------------------- */

.projects div, .fave-things div {
  opacity: 1;
  transform: rotate(-90deg);
  transform: scale(.6, .6);
}

.faded-in div {
  opacity: 1;
  transition: all .3s ease-in-out;
  transform: scale(1, 1);
}
/* ----------------------------------------
Footer
------------------------------------------- */
.footercopy {
  diplay: flex;
  font-size: 10px;
  text-align: center;
  align-items: center;
}

/* ----------------------------------------
Responsive
------------------------------------------- */
@media screen and (max-width: 970px) {

  .row {
    flex-basis: 50%;
    flex-wrap: wrap;
  }

  .col-3-3-3 {
    flex-basis: 100%;
  }

  .col-2-3 {
    flex-basis: 100%;
}
@media screen and (max-width: 770px) {
  .row {
    flex-basis: 100%;
    flex-wrap: wrap;
  }

  .work {
    margin: 0;
  }
  .col-3-3-3 {
    flex-basis: 100%;
  }

  nav a {
    text-align: center;
    display: block;
}
  nav {
    background-color: none;
  }

*/
