
/* ==========================================================================
   Base styles:
   ========================================================================== */
/* Fix to include padding and border in the total width for each element */
* {
  box-sizing: border-box;
}

/* Fix for responsive images */


/* ----------------------------------------
Typography
------------------------------------------- */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-align: center;
  padding: 30px 20px 10px 20px;
  margin: 50px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
    color: gray;
}
/*a:visited {
    color: gray;
}*/



img {
  max-width: 100%;

}

h1, h2, h3, h4 {
  font-family: 'Slabo 27px', serif;
}

h1 {
  font-size: 48px;

}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

p {
  padding: 0px 75px 0px 75px;
}

nav {
  text-align: center;
  margin: 0;

}

.social-links a {
	font-size: 20px;
	padding: 15px;
	margin-bottom: 30px;
	display: inline-block;
	color: #44545E;

/* ----------------------------------------
Lists
------------------------------------------- */
ul {
  list-style-type: none;
  padding: 10px;
}


/* ----------------------------------------
Layout
------------------------------------------- */

header {
  background-size: cover;
  background-image: url('../img/kelly-sikkema_251938.jpg');
  background-attachment: fixed;
}

div {
  display; block;
  display: flex;


}

.giddy {

}

.work {

}


article {
  margin: 10px;
  
}
/* ----------------------------------------
Buttons
------------------------------------------- */
button {
  border: none;
  color: blue;
  background-color: none;
  font-size: 12px;
}
/* ----------------------------------------
Footer
------------------------------------------- */
